<%# Photo by <a href="https://unsplash.com/@vishnurnair?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vishnu R Nair</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   %>
.hero {
  background: no-repeat center/100% url(<%= asset_path "crowd.jpg" %>);
}