/**** Layout *****/
html, body {
  margin: 0;
  padding: 0;
}

.section {
  padding: 1.5rem 1.5rem;
}

@media (min-width: 1024px) {
  .section {
    padding: 1.5rem 3rem;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  position: reliative;
  width: auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  position: reliative;
  width: auto;
}

.hero {
  align-items: center;
  color: white;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
  min-height: 20vh;
}

@media (min-width: 760px) {
  .hero {
    padding: 3rem 4.5rem;
  }
}

/**** Components ****/
.navbar {
  align-items: center;
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  min-height: 3.25rem;
  padding-right: 1rem;
}

.navbar__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.navbar__right:hover {
  border-top: 4px solid orangered;
}

.navbar__item,
.navbar__logo {
  color: #fff;
  padding: 0.5rem 0.75rem;
}

.navbar__logo {
  color: orangered;
  font-size: 2rem;
  font-weight: bold;
}

.navbar__logo a:hover {
  color: #000;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar__item:hover {
  border-bottom: 4px solid white;
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.box:not(:last-child) {
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.button {
  background-color: hsl(16, 100%, 50%);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: .5rem;
  padding: .5rem 1rem .5rem 1rem;
}

.button:hover {
  background-color:  hsl(16, 85%, 50%);;
  color: #fff;
}

.card {
  border: 2px solid rgb(224, 224, 224);
  border-radius: 4px;
  margin: 1.5rem;
  min-width: 16rem;
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

@media (min-width: 960px) {
  .card {
    min-width: 18rem;
  }
}

.card a {
  color: orangered;
}

.card:hover {
  border-color: orangered;
}

.card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba(12, 12, 12, 0.1), 0 0px 0 1px rgba(12, 12, 12, 0.02);
}

/**** Typography ****/
.title-2 {
  font-size: 2.5rem;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.card__header {
  font-weight: bold;
  text-decoration: none;
}

.notification {
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.notification--success {
  background-color: #00D1B2;
  color: #fff;
}

.notification--alert {
  background-color: #BC388E;
  color: #fff;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

/**** Events ****/

.event-header,
.event-details {
  background-color: #f6f7f8;
  border-radius: 3px;
  border: 1px solid #d6d9dc;
  margin: 1rem 0;
  text-align: center;
  width: 80%;
}

.event-header {
  padding: 3rem;
}

.event-details {
  padding: 1rem 3rem;
}

@media (min-width: 700px) {
  .event-header,
  .event-details {
    width: 600px;
  }
}

.event-description {
  max-width: 400px;
  text-align: left;
  margin: auto;
}

.attendance {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

@media (min-width: 700px) {
  .attendance {
    width: 600px;
  }
}

.event-attendee {
  margin: 1rem;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

/**** Forms ****/
.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 1rem 50px 1rem 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

@media only screen and (min-width: 700px) {
  .form-header,
  .form {
    width: 600px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.field--horizontal {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="date"] {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #d6d9dc;
  line-height: 1.5;
  padding: .5rem 1rem .5rem 1rem;
}

.field input[type="text"]:invalid,
.field input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color:#d55c5f;
  box-shadow: none;
}

.field label {
  margin-bottom: 1rem;
  font-weight: bold;
}

.field textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  border: 1px solid #d6d9dc;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.field .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

.checkbox-label {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.hint {
  font-size: 1rem;
}

.checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .checkbox-list {
    justify-content: center;
  }
}

.checkbox-list__label {
  margin-left: .5rem;
}

.checkbox-list__field {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem;
}
